{# app/Resources/views/form/checkbox.html.twig #}

	{% block checkbox_widget %}

        {% spaceless %}
            <div class="form-check mb-0 mt-4">
                <label class="form-check-label">
                    <input type="checkbox"
                           class="form-check-input" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked{% endif %}>
                    {{ label|trans }}
                </label>
            </div>
        {% endspaceless %}

    {% endblock checkbox_widget %}