
{# Embed Header (Méta, css, etc) #}

<head>
    <meta charset="UTF-8">
    <title>{% block seo_title %}{{ "ArcOffice - Outil de gestion d'une unité de recherche clinique"|spaceless }}{% endblock seo_title %}</title>
    <meta name="description"
          content="{% block seo_description %}ArcOffice est un logiciel innovant destiné aux structures de recherche clinique des hôpitaux et cliniques. C’est une base de donnée en web application, qui permet de gérer vos essais cliniques, les patients inclus, les visites.{% endblock seo_description %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f34f55">
    <meta name="theme-color" content="#f34f56"> #}

    <meta property="og:title" content="ArcOffice - Outil de gestion clinique">
    <meta property="og:description" content="ArcOffice est un outil de gestion d'une unité de recherche clinique.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.arcoffice.fr">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="ArcOffice">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="ArcOffice - Outil de gestion clinique">

    <link rel="canonical" href="https://www.arcoffice.fr"/>

    {# CSS #}
    <link href="{{ asset('dist/css/global.min.css') }}" rel="stylesheet" media="all">
    <link href="https://unpkg.com/@fortawesome/fontawesome-free-webfonts@1.0.9/css/fontawesome.css" rel="stylesheet" media="all">
    <link href="https://unpkg.com/@fortawesome/fontawesome-free-webfonts@1.0.9/css/fa-solid.css" rel="stylesheet" media="all">
    <link href="https://unpkg.com/@fortawesome/fontawesome-free-webfonts@1.0.9/css/fa-regular.css" rel="stylesheet" media="all"gi>
    {% block css %}

    {% endblock css %}

    {# Google Analytics #}
    <script></script>

    {# Structured Data #}
    <script type='application/ld+json'>
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "name": "ArcOffice",
                "url": "https://www.arcoffice.fr",
                "image": "https://www.arcoffice.fr/dist/img/logo.svg",
                "description": "Outil de gestion d'une unité de recherche clinique",
                "publisher": "ArcOffice" 
            }

    </script>

    <style>
        .has-message-sent:before{
            animation: clignotement 1.5s infinite;
        }
        @keyframes clignotement{
            0%{opacity: 1;}
            50%{opacity: 0;}
            100%{opacity: 1;}
        }
    </style>
</head>
