{% set anomalie = {} %}

        {% for type, tableau in erreurs %}

            {% for id, erreur in tableau %}

                {% set path = path("edit"~type|capitalize, { "id": id }) %}
                {% set  nom = "" %}

                {% if type == 'essai' %}

                    {% set  nom = essais[id].nom %}
                    {% set path =  path('editEssai', {"id": id }) %}

                {% elseif  type == 'patient' %}

                    {% set  nom = patients[id].nom~" "~patients[id].prenom %}
                    {% set path =  path('patient', {"id": id}) %}

                {% elseif type == 'inclusion' %}

                    {% if  inclusions[id].patient != null %}

                        {% set  nom = inclusions[id].patient.nom~" "~inclusions[id].patient.prenom %}
                        {% set path =  path('patient', {"id": inclusions[id].patient.id, 'id_inclusion': id}) %}

                    {% endif %}

                {% elseif  type == 'visite' %}

                    {% if  visites[id].inclusion != null and visites[id].inclusion.patient != null %}

                        {% set  nom = visites[id].date|date('d/m/Y') %}
                        {% set path =  path('patient', {"id": visites[id].inclusion.patient.id, "id_inclusion": visites[id].inclusion.id }) %}

                    {% endif %}

                {% elseif  type == 'facture' %}

                    {% set  nom = factures[id].numero %}

                {% elseif  type == 'arc' %}

                    {% set  nom = arcs[id].nomArc~" "~arcs[id].prenomArc %}

                {% endif %}

                {% set erreurs = [] %}

                {% for erreurId, message in erreur %}

                    {% set erreurs = erreurs|merge([{
                        "message": message,
                        "ignoreLink": path("verificationSave", { 'type': type, 'entite': id, 'erreur': erreurId }),
                        'type': type,
                        'entite': id,
                        'erreur': erreurId,
                    }]) %}

                {% endfor %}

                {% set anomalie = anomalie|merge({(type~id):
                    { "nom" :  type|replace({'essai': 'protocole' })|capitalize ~ " : " ~nom|default(""),
                        "erreurs": erreurs,
                        "path": path,
                        "entityId": id,
                    }}) %}

            {% endfor %}

        {% endfor %}

   {% set ignored = {} %}
        {% set  ids = {} %}
        {% for  erreur in validationErreurs
            if (
            essais[erreur.entite] is defined
            or patients[erreur.entite] is defined
            or inclusions[erreur.entite] is defined
            or visites[erreur.entite] is defined
            or factures[erreur.entite] is defined
            or arcs[erreur.entite] is defined
            )
            and erreur.message != null %}

            {% set  type = erreur.type %}
            {% set  id = erreur.entite %}
            {% set  idIgnored = erreur.id %}
            {% set  erreurID = erreur.erreur %}
            {% set  type = erreur.type %}
            {% set  nom = "" %}
            {% set path = path("edit"~type|capitalize, { "id": id }) %}

            {% if type == 'essai' %}

                {% set  nom = essais[id].nom %}
                {% set path =  path('editEssai', {"id": id }) %}

            {% elseif  type == 'patient' %}

                {% set  nom = patients[id].nom~" "~patients[id].prenom %}
                {% set path =  path('patient', {"id": id}) %}

            {% elseif type == 'inclusion' %}

                {% if  inclusions[id].patient != null %}

                    {% set  nom = inclusions[id].patient.nom~" "~inclusions[id].patient.prenom %}
                    {% set path =  path('patient', {"id": inclusions[id].patient.id, 'id_inclusion': id}) %}

                {% endif %}

            {% elseif  type == 'visite' %}

                {% if  visites[id].inclusion != null and visites[id].inclusion.patient != null %}
                    {% set  nom = visites[id].date|date('d/m/Y') %}
                    {% set path =  path('patient', {"id": visites[id].inclusion.patient.id, "id_inclusion": visites[id].inclusion.id }) %}

                {% endif %}

            {% elseif  type == 'facture' %}

                {% set  nom = factures[id].numero %}

            {% elseif  type == 'arc' %}

                {% set  nom = arcs[id].nomArc~" "~arcs[id].prenomArc %}

            {% endif %}

            {% if type~id in ids %}
                {% for  key, ignore in ignored %}
                    {% if ignore.erreurs[0].type~ignore.entityId == type~id %}
                        {% set ignored = ignored|merge({(key): ignored[key]|merge({"erreurs":ignored[key]["erreurs"]|merge([{
                            "message": erreur.message,
                            "ignoreLink": path("verificationSave", { 'type': type, 'entite': id, 'erreur': erreurID }),
                            'type': type,
                            'entite': id,
                            'erreur': erreurID,
                            'id': idIgnored,
                        }])})}) %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% set erreurs = [{
                    "message": erreur.message,
                    "ignoreLink": path("verificationSave", { 'type': type, 'entite': id, 'erreur': erreurID }),
                    'type': type,
                    'entite': id,
                    'erreur': erreurID,
                    'id': idIgnored,
                }] %}

                {% set ignored = ignored|merge({(type~id):{
                    "nom" :  type|replace({'essai': 'protocole' })|capitalize ~ " : "~nom|default(""),
                    "path": path,
                    "entityId": id,
                    "erreurs": erreurs,
                }}) %}
                {% set ids = ids|merge({(type~id):(type~id)}) %}
            {% endif %}
        {% endfor %}

    {% extends 'base.html.twig' %}

    {# Réécriture SEO #}
    {% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}Anomalies - ArcOffice{% endblock seo_title %}

            {# Description #}
            {% block seo_description %}{% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

    {# Body Class #}
    {% block body_class %}arcoffice-coherence-data{% endblock %}

    {# Section 'Fil d'ariane' #}
    {% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : 'Liste des anomalies' } %}{% endembed %}

    {% endblock fil_ariane %}

    {# Contenu #}
    {% block content %}
        {# Section Principale #}
        <section id="vueAnomalie" class="section-main" v-cloak>

            <div class="container">

                <div class="row">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs w-100" role="tablist">

                        <li class="nav-item">

                            <a class="nav-link active d-flex" data-toggle="tab" href="#liste-anomalies" role="tab"
                               aria-controls="home" aria-selected="true">Liste des Anomalies ([[ nbErreurs ]])</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link d-flex" data-toggle="tab" href="#anomalies-ignorees" role="tab"
                               aria-controls="profile" aria-selected="false">Anomalies Ignorées ([[ nbErreursIgnored
                                ]])</a>

                        </li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content w-100">

                        {# Liste des anomalies #}
                        <div class="tab-pane active" id="liste-anomalies" role="tabpanel"
                             aria-labelledby="liste-anomalies">

                            <div class="col">

                                <div class="arcoffice-count mt-2">[[ nbErreurs ]] anomalie(s) identifiée(s)</div>

                                {# Tableau #}
                                <table class="table table-sm table-striped table-hover table-responsive">

                                    <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Nombre d'anomalie(s)</th>
                                        <th>Message</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    <tr v-for="(anomalie, indexAnomalie) in anomalies">

                                        <td>

                                            <a target="_blank" :href="anomalie.path">

                                                [[ anomalie.nom ]]

                                            </a>

                                        </td>

                                        <td>

                                            [[ anomalie.erreurs.length ]] anomalie(s)

                                        </td>

                                        <td>

                                            <div v-for="(erreur, index) in anomalie.erreurs" :data-nth='index'
                                                 class="arcoffice-anomalie-wrapper d-flex align-items-center">[[
                                                erreur.message ]]
                                            </div>

                                        </td>

                                        <td>

                                            <div v-for="(erreur, index) in anomalie.erreurs" :data-nth='index'
                                                 class="arcoffice-anomalie-wrapper d-flex align-items-center">

                                                <a @click.prevent='ignore(erreur, index, indexAnomalie)'
                                                   class="verificationSave btn btn-sm btn-outline-success" href="#">

                                                    <i class="fa fa-check"></i> Ignorer

                                                </a>

                                            </div>

                                        </td>

                                    </tr>

                                    </tbody>

                                </table>

                            </div>

                        </div>

                        {# Anomalies Ignorées #}
                        <div class="tab-pane" id="anomalies-ignorees" role="tabpanel"
                             aria-labelledby="#anomalies-ignorees">

                            <div class="col">

                                <div class="arcoffice-count mt-2">[[ nbErreursIgnored ]] anomalie(s) ignorée(s)</div>

                                {# Tableau #}
                                <table class="table table-sm table-striped table-hover table-responsive">

                                    <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Nombre d'anomalie(s) ignorée(s)</th>
                                        <th>Message</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    <tr v-for="(ignore, indexIgnore) in ignored">

                                        <td>

                                            <a target="_blank" :href="ignore.path">

                                                [[ ignore.nom ]]

                                            </a>

                                        </td>

                                        <td>

                                            [[ ignore.erreurs.length ]] anomalie(s) ignorée(s)

                                        </td>

                                        <td>

                                            <div v-for="(erreur, index) in ignore.erreurs" :data-nth='index'
                                                 class="arcoffice-anomalie-wrapper d-flex align-items-center">[[
                                                erreur.message ]]
                                            </div>

                                        </td>

                                        <td>

                                            <div v-for="(erreur, index) in ignore.erreurs" :data-nth='index'
                                                 class="arcoffice-anomalie-wrapper d-flex align-items-center">

                                                <a @click.prevent='unignore(erreur, index, indexIgnore)'
                                                   class="verificationSave btn btn-sm btn-outline-success" href="#">

                                                    <i class="fa fa-check"></i> Ignorer

                                                </a>

                                            </div>

                                        </td>

                                    </tr>

                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    {% endblock content %}

    {% block javascripts %}

        {{ parent() }}

        <script>

            if ($("#liste-anomalies").length > 0) {
                let ignored = {{ ignored|json_encode|raw }}
                if (ignored.length == 0)
                    ignored = {}

                let anomalies = {{ anomalie|json_encode|raw }}
                if (anomalies.length == 0)
                    anomalies = {}

                const verification = new Vue({
                    delimiters: ['[[', ']]'],
                    el: '#vueAnomalie',
                    data: {
                        ignored: ignored,
                        anomalies: anomalies,
                        ignoreDisabled: false,
                        unignoreDisabled: false,
                    },

                    methods: {
                        ignore: function (erreur, index, indexAnomalie) {
                            if (this.ignoreDisabled)
                                return
                            this.ignoreDisabled = true;
                            toastr.options = {"positionClass": "toast-bottom-right"};
                            let anomalie = Object.assign({}, this.anomalies[indexAnomalie]);
                            erreur = Object.assign({}, erreur);
                            $.post(erreur.ignoreLink, {message: erreur.message}, function (data) {
                                if (data.message) {
                                    erreur.id = data.id;
                                    toastr.success('Cette anomalie a été ignorée. Vous pouvez la retrouver dans "anomalies ignorées"')
                                }

                                anomalie.erreurs = [];
                                anomalie.erreurs.push(erreur);
                                console.log(erreur);
                                let pushed = false;
                                if (indexAnomalie in verification.ignored) {
                                    verification.ignored[indexAnomalie].erreurs.push(erreur);
                                    pushed = true;
                                }
                                if (!pushed)
                                    verification.$set(verification.ignored, indexAnomalie, anomalie);

                                verification.anomalies[indexAnomalie].erreurs.splice(index, 1);
                                if (verification.anomalies[indexAnomalie].erreurs.length === 0) {
                                    delete verification.anomalies[indexAnomalie];
                                }
                                verification.$forceUpdate();
                            }).fail(function () {
                                toastr.error("Vous n'avez pas les droits nécessaires pour cette action.");
                            }).always(function () {
                                verification.ignoreDisabled = false
                            });
                        },
                        unignore: function (erreur, index, indexIgnore) {
                            if (this.unignoreDisabled)
                                return
                            this.unignoreDisabled = true;
                            toastr.options = {"positionClass": "toast-bottom-right"};
                            let ignored = Object.assign({}, this.ignored[indexIgnore]);
                            erreur = Object.assign({}, erreur);
                            $.post(Routing.generate("verificationUnsave", {erreurId: erreur.id}), function (data) {
                                if (data.message) {
                                    toastr.success('Cette anomalie n\'est plus ignorée. Vous pouvez la retrouver dans "liste des anomalies"')
                                }

                                ignored.erreurs = [];
                                delete erreur.id;
                                ignored.erreurs.push(erreur);


                                let pushed = false;
                                if (indexIgnore in verification.anomalies) {
                                    verification.anomalies[indexIgnore].erreurs.push(erreur);
                                    pushed = true;
                                }

                                if (!pushed)
                                    verification.$set(verification.anomalies, indexIgnore, ignored)

                                verification.ignored[indexIgnore].erreurs.splice(index, 1);
                                if (verification.ignored[indexIgnore].erreurs.length === 0) {
                                    delete verification.ignored[indexIgnore];
                                }
                                verification.$forceUpdate();
                            }).fail(function () {
                                toastr.error("Vous n'avez pas les droits nécessaires pour cette action.");
                            }).always(function () {
                                verification.unignoreDisabled = false;
                            });

                        }
                    },
                    computed: {
                        nbErreurs: function () {
                            let nbErreurs = 0;
                            for (const anomalieId in this.anomalies) {
                                nbErreurs = nbErreurs + this.anomalies[anomalieId].erreurs.length;
                            }
                            return nbErreurs;
                        },
                        nbErreursIgnored: function () {
                            let nbErreurs = 0;
                            for (const ignoredId in this.ignored) {
                                nbErreurs = nbErreurs + this.ignored[ignoredId].erreurs.length;
                            }
                            return nbErreurs;
                        }
                    },
                });
            }
        </script>

    {% endblock %}
