{% extends 'base.html.twig' %}

	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                Calendrier - ArcOffice

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                Calendrier des visites

            {% endblock seo_description %}

            {% block css %}
                <link href='{{ asset('dist/fullcalendar/main.min.css') }}' rel='stylesheet'/>
            {% endblock css %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-calendrier{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : 'Calendrier' } %}

            {% block fil_ariane_more %}


            {% endblock fil_ariane_more %}

        {% endembed %}

    {% endblock fil_ariane %}

	{% block content %}

        {# Section Principale #}
        <section class="section-main">

            <div class="container">

                <div id='calendar'></div>

            </div>

        </section>

    {% endblock content %}

    {% block javascripts %}

        {{ parent() }}
        <script src="{{ asset('dist/fullcalendar/main.min.js') }}" type="text/javascript"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: 'fr',
                    firstDay: 1,
                    allDaySlot: false,
                    timeFormat: 'H',
                    slotMinTime: '08:00:00',
                    slotMaxTime: '20:00:00',
                    slotDuration: '00:15:00',
                    slotLabelInterval: '01:00:00',
                    slotLabelFormat: {
                        hour: 'numeric',
                        minute: '2-digit',
                        omitZeroMinute: false,
                        meridiem: 'long'
                    },
                    initialView: 'timeGridWeek',
                    //defaultView: 'timeGridWeek',
                    headerToolbar: {
                        left: 'prevYear,prev,next,nextYear today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    buttonText: {
                        today: "Aujourd'hui",
                        month: 'Mois',
                        week: 'Semaine',
                        day: 'Jour',
                        list: 'list'
                    },
                    customButtons: {
                        prev444: {
                            text: 'prev',
                            click: function () {
                                calendar.prev();
                                var date = calendar.getDate();
                                var url = Routing.generate("agenda_events", {'dtevent' : moment(date).format('YYYY-MM-DD')});
                                $.get(url, function(response){
                                    alert(response["data"]);
                                })
                            }
                        }
                    },
                    eventSources: [{
                        url: Routing.generate("agenda_events")
                    }]
                    //dayHeaderFormat: { weekday: 'short', month: 'numeric', day: 'numeric', omitCommas: true }
                    /*dayHeaderContent: (args) => {
                        return moment(args.date).format('ddd Do/')
                    }*/
                });
                calendar.render();
            });
        </script>
    {% endblock javascripts %}